footer {
  background-color: #333;
  font-size: var(--font-size-medium);
  color: var(--color-neutral2);

  padding: 20px 0;
}

.quote-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-quote {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

.footer-quote-author {
  background-color: var(--color-equals-clear);
  padding: 10px;
  max-width: 170px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
