header {
  background-color: var(--color-equals-clear);
  padding: 15px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}

.flex-for-header,
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  width: 340px;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-weight: bold;
}

.logo-image {
  width: 35px;
  height: auto;
  border: 2px solid var(--color-primary);
}

.header-nav-item {
  text-align: center;
  color: var(--color-neutral2);
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header-nav {
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    visibility: hidden;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 110%;
    left: 5%;
    font-size: var(--font-size-medium);
    background-color: var(--color-background);
    border: 2px solid var(--color-neutral1);
    width: 50%;
    z-index: 10;
  }

  .header-nav.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  #mobile-menu {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  #mobile-menu {
    display: none;
  }
}
